.cst-active-product{
  text-decoration: none;
  color:black;
}
.cst-active-product:hover{
  text-decoration: none;
  color:black;
}

.my-row{
  padding:10px 10px;
}

.my-card{
  color: black;
}

.my-card:hover{
  color: #282C34;
  text-decoration: none;
}
