.cst-nav{
  display: flex;
  align-items: center;
  /* opacity: 0.9; */
}

.cst-right{
  position: absolute;
  right: 0;
}

.user-icon{
  height:35px;
}

.cart-icon{
  height: 35px;
  padding-left: 10px;
  padding-right: 10px;
}
