
.cst-nav-end{
  display: flex;
  position: absolute;
  /* width:100%; */
  right: 0;
  /* transform: translate(-71%); */
}

.cst-left{
  display: flex;
  align-items: center;
}

.cst-right{
  /* position: absolute; */
  /* right: 0; */
}

.user-icon{
  height:35px;
}

.cart-icon{
  height: 35px;
  padding-left: 10px;
  padding-right: 10px;
}

@media screen and (max-width:750px){
  .cst-nav-end{
    display: flex;
    position: absolute;
    /* width:100%; */
    right: 0;
    /* transform: translate(-1%); */
  }

}
